.fuenteNuestrahistoria{
    color: lightblue;
    line-height: 2;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
}
.formulario{
    background-color: black;
    color: greenyellow;
    line-height: 2;
    position: relative;
    left: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px;
    text-decoration: underline;
}
.fondobordeAct{
    background-color: black;
}

