@media screen and (max-width: 767px){
    .titularHeader{
        font-size: 30px;
        padding-top: 12px;
    }
    .cajaA{
        font-size: 12px;
    }
    .cajaB{
        font-size: 11px;
    }
    .cajaC{
        font-size: 11px;
    }
    .alineadoIndividual{
        font-size: 25px;
    }
    .introMain{
        margin-top: 80px;
        font-size: 12px;
    }
    .encabezado__menu div:hover .submenuInvisible{
        display: none;
    }
    .encabezado__menu div:hover .submenuInvisible2{
        display: none;
    }
    .homeHeader{
        font-size: 13px;
    }
    .horariosHeader{
        font-size: 13px;
    }
    .equipoHeader{
        font-size: 13px;
        padding: 12px;
    }
    .actividadesHeader{
        font-size: 13px;
    }
    .nuestrahHeader{
        font-size: 13px;
    }
    .firmaFooter{
        font-size: 11px;
    }
    .tablaHorarios{
        font-size: 10px;
    }
    .textoNh{
        font-size: 15px;
    }
    .fuenteNuestrahistoria{
        font-size: 12px;
    }
    .sizeImagen{
        height: 80px;
    }
    .gridTablaH{
        font-size: 11px;
    }
    .titularH{
        font-size: 30px;
    }
    .fuentedeboots{
        color: whitesmoke;
        border-top: outset 5px black;
        border-right: outset 5px white;
        border-bottom: outset 5px black;
        border-left: outset 5px white;
        font-size: 12px;
    }
    .flexH{
        display: flex;
        flex-direction: row;
        height: 300px;
        width: 400px;
    }
}
@media screen and (max-width: 530px){
    .titularHeader{
    font-size: 20px;
    padding-top: 20px;
    }
    .cajaA{
    font-size: 10px;
    }
    .cajaB{
    font-size: 10px;
    }
    .cajaC{
    font-size: 10px;
    }
    .alineadoIndividual{
    font-size: 15px;
    }
    .introMain{
    margin-top: 60px;
    }
    .Intro{
    font-size: 12px;
    }
    .encabezado__menu div:hover .submenuInvisible{
    display: none;
    }
    .encabezado__menu div:hover .submenuInvisible2{
    display: none;
    }
    .firmaFooter{
        font-size: 9px;
    }
    .Intro{
        font-size: 9px;
    }
    .homeHeader{
        font-size: 11px;
    }
    .horariosHeader{
        font-size: 11px;
    }
    .equipoHeader{
        font-size: 11px;
    }
    .actividadesHeader{
        font-size: 11px;
    }
    .nuestrahHeader{
        font-size: 11px;
    }
    .textoNh{
        font-size: 12px;
    }
    .sizeImagen{
        height: 40px;
    }
    .gridTablaH{
        font-size: 8px;
    }
    .titularH{
        font-size: 20px;
    }
    .fuenteNuestrahistoria{
        font-size: 10px;
    }
    .fuentedeboots{
        color: whitesmoke;
        border-top: outset 5px black;
        border-right: outset 5px white;
        border-bottom: outset 5px black;
        border-left: outset 5px white;
        font-size: 8px;
    }
    .flexH{
        display: flex;
        flex-direction: row;
        height: 200px;
        width: 300px;
    }
}
.alineadoIndividual{
    text-align: left;
    text-decoration: underline;
    color: lightblue;
    padding-left: 50px;
}
.introMain{
    grid-area: textointro;
    color: whitesmoke;
    text-align: center;
    border-top: outset 5px white;
    border-right: outset 5px black;
    border-bottom: outset 5px white;
    border-left: outset 5px black;
}
.fuentedeboots{
    color: whitesmoke;
    border-top: outset 5px black;
    border-right: outset 5px white;
    border-bottom: outset 5px black;
    border-left: outset 5px white;
    font-size: 15px;
}
.mapaMain{
    grid-area: mapa;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: stretch;
    }
.firmaFooter{
    grid-area: firma;
    color: whitesmoke;
    text-align: right;
}
$fondoCajasIndex: (
    1: linear-gradient(to bottom, black, rgb(7, 7, 53), rgb(172, 208, 219)),   
    2: black,
    3: rgb(26, 23, 36),
    4: rgb(18, 12, 43)
);
@each $cajas, $color in $fondoCajasIndex{
    .caja-#{$cajas}{
        background-image: $color;
        background-color: $color;
    }
}
.fondofooterMapget{
    background-image: map-get($fondoCajasIndex, 1);
}
.gradienteIntro{
    background-image: linear-gradient(to bottom, black, grey);
}
.parallax{
    background-color: black;
}
.alineadoIndividual{
    text-align: left;
    text-decoration: underline;
    color: lightblue;
}
.botonera{
    text-align: center;
    color: lightblue;
    background-color: rgb(7, 7, 53);
    border-top: outset 3px grey;
    border-right: outset 3px black;
    border-bottom: outset 3px grey;
    border-left: outset 3px black;
    padding: 5px;
}
.botonera a{
    text-align: center;
    text-decoration: none;
    color: lightblue;
}
.botonera__irarriba{
    @extend .botonera;
    background-color: black;
}
.botonera__iragoogle{
    @extend .botonera;
    background-color: rgb(8, 5, 26);
}
@mixin cajasIndex($display, $direction, $wrap, $center, $center2){
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $center;
    align-content: $center2;
}
.flexCaja1{
    @include cajasIndex(flex, column, wrap, center, center)
}
.flexCaja2{
    @include cajasIndex(flex, column, wrap, center, center)
}
.flexCaja3{
    @include cajasIndex(flex, column, wrap, center, center)
}
.flexgeneralIndex{
    @include cajasIndex(flex, row-reverse, nowrap, stretch, center)
}
.mapa{
    overflow:hidden;
    padding-bottom:30%;
    position:relative;
    height:0;
}
.mapa iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    justify-content: center;
    align-items: center;
}
.flexH{
    display: flex;
    flex-direction: row;
}
.fleximgH{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    width:100%;
}
.flexActs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.subrayadoActivtits{
    text-decoration: underline;
}
.flexNh{
    display: flex;
    color: lightblue;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.flexNh em{
    font-size: 30px;
    color: greenyellow;
    font-weight: 700;
}
.flexNh p{
    padding: 15px;
}